<h1>Welcome to our Article Database</h1>

<h2>What article are you looking for?</h2>

<%= form_tag() do %>
  <%= text_field_tag :term, nil, placeholder: "Search articles..." %>
  <%= submit_tag "Search" %>
<% end %>

<h2>Popular searches:</h2>

<h2>Articles</h2>
<% @articles.each do |article| %>
  <div>
    <%= link_to article.title, article_path(article) %>
  </div>
<% end %>
